{% extends 'ZikiDefaultBundle::layout.html.twig' %}

{% block container %}

        <div class="container" style="padding-top: 5px;">
            <div class="row">
                <div class="span3">
                    {# adds n stuff#}
                    <h4>Most Popular</h4>
                    <ul class="nav-tabs nav-stacked sidemenu nav">
                        <li class=""><a href="">Home</a></li>
                        <li class=""><a href="">Get Started</a></li>
                        {#<li class=""><a href="">On the Rise</a></li>#}
                        {#<li class=""><a href="">Implementation</a></li>#}
                    </ul>

                    {#<h4>Genres</h4>#}
                    {#<ul class="nav-tabs nav-stacked sidemenu nav">#}
                        {#<li class=""><a href="">Afro Pop</a></li>#}
                        {#<li class=""><a href="">Dance Hall</a></li>#}
                        {#<li class=""><a href="">Zouk</a></li>#}
                        {#&#123;&#35;<li class=""><a href="">Implementation</a></li>&#35;&#125;#}
                    {#</ul>#}
                </div>

                <div class="span9">
                    {# content#}
                    <div class="row-fluid">
                        <h3>Listen to  music & audio anywhere</h3>
                        <div class="span1">
                             <img src="s"/>
                        </div>
                        <div class="span7">
                            <p>Get the latest music and artist info on any devices..... Whichever you choose, it’s effortless.</p>
                        </div>
                    </div>

                    <div class="row">
                        <h3>Share your playlists</h3>
                        <div class="span1">

                        </div>
                        <div class="span7">
                            <p>Get the latest music and artist info on any devices..... Whichever you choose, it’s effortless.</p>
                        </div>
                    </div>

                    <div class="row">
                        <h3>Join the community</h3>
                        <div class="span1">

                        </div>
                        <div class="span7">
                            <p>Get the latest music and artist info on any devices..... Whichever you choose, it’s effortless.</p>
                        </div>
                    </div>

                    <div class="row">
                        <h3>Follw the artists</h3>
                        <div class="span1">

                        </div>
                        <div class="span7">
                            <p>Get the latest music and artist info on any devices..... Whichever you choose, it’s effortless.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

{% endblock %}
